 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Acerca de Mí</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Actualmente estudiante de la Universidad Nacional de Chimborazo, Carrera de Pedagogía de las Ciencias Experimentales:Informática  </p>
                </div>
                <div class="col-lg-4">
                    <p>Persona seria, responsable y con muchas ganas de trabajar y de aprender, comprometida con mi trabajo. Quiero formar parte de una productiva y exitosa institución educativa que esté al servicio de la sociedad. Aprendo con rapidez nuevas ideas y conceptos y me gusta desarrollar soluciones creativas e innovadoras. Capaz de trabajar en proyectos motivados por conseguir
                       los objetivos y seguir desarrollándome en mí trabajo. Capacidad de trabajar con efectividad.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://drive.google.com/file/d/19SYENhATFi6TiT-fgIxZ9c2XgP-eBkwd/view?usp=sharing" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Currículum
                    </a>
                </div>
            </div>
        </div>
    </section>
